@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151515;
}
body h1, body h2, body h3 {
  color: #FFFFFF;
}
body p {
  color: #d9d9d9;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

p, a {
  font-size: 16px;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 1024px) and (min-width: 768px) {
  h1 {
    font-size: 72px;
    font-weight: 700;
  }
  p, a {
    font-size: 18px;
    font-weight: 500;
  }
  h2 {
    font-size: 48px;
    font-weight: 700;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  h1 {
    font-size: 72px;
    font-weight: 700;
  }
  p, a {
    font-size: 18px;
    font-weight: 500;
  }
  h2 {
    font-size: 48px;
    font-weight: 700;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
}
@media (max-width: 1920px) and (min-width: 1441px) {
  h1 {
    font-size: 72px;
    font-weight: 700;
  }
  p, a {
    font-size: 18px;
    font-weight: 500;
  }
  h2 {
    font-size: 48px;
    font-weight: 700;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
}
footer {
  margin-top: 60px;
  padding: 16px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h1, footer p {
  text-align: center;
}
footer form {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
footer form input, footer form textarea {
  background-color: #242424;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  color: #d9d9d9;
  padding: 20px;
}
footer form a {
  margin-top: 30px;
  align-self: flex-end;
}
footer div.line1 {
  background-color: #FFFFFF;
  height: 1px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  section.contact {
    width: 60%;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  footer section.contact {
    width: 80%;
    display: grid;
    gap: 170px;
    grid-template-columns: 1fr 1fr;
  }
  footer section.contact div * {
    margin-bottom: 50px;
    text-align: start;
  }
  footer section.contact div {
    padding: 30px 0px;
  }
  footer div.line1 {
    width: 82%;
  }
}
@media (max-width: 1920px) and (min-width: 1441px) {
  footer section.contact {
    width: 80%;
    display: grid;
    gap: 170px;
    grid-template-columns: 1fr 1fr;
  }
  footer section.contact div * {
    margin-bottom: 50px;
    text-align: start;
  }
  footer section.contact div {
    padding: 30px 0px;
  }
  footer div.line1 {
    width: 82%;
  }
}
section.foot {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.foot ul {
  list-style: none;
  display: flex;
}
section.foot ul li {
  padding: 15px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  section.foot {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  section.foot ul {
    list-style: none;
    display: flex;
  }
  section.foot ul li {
    padding: 15px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  section.foot {
    width: 100%;
    padding: 15px 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  section.foot ul {
    list-style: none;
    display: flex;
  }
  section.foot ul li {
    padding: 15px;
  }
}
@media (max-width: 1920px) and (min-width: 1441px) {
  section.foot {
    width: 100%;
    padding: 15px 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  section.foot ul {
    list-style: none;
    display: flex;
  }
  section.foot ul li {
    padding: 15px;
  }
}
body {
  position: relative;
}
body div.img {
  text-align: center;
}
body div.img img {
  max-width: 45%;
}

img.deco {
  position: absolute;
  left: -200px;
}

input:placeholder-shown {
  border-bottom-color: #d9d9d9;
}

input:valid {
  border-bottom-color: #00c853;
}

input:invalid:not(:placeholder-shown) {
  border-bottom-color: #ff1744;
}

input:focus {
  outline: none;
}

section.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
}
section.hero h1, section.hero p {
  text-align: center;
  margin: 12px;
}
section.hero h1 span, section.hero p span {
  text-decoration: underline;
  text-decoration-color: #4EE1A0;
  text-underline-offset: 3px;
}
section.hero p {
  margin-bottom: 24px;
}

.button {
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: #4EE1A0;
  text-underline-offset: 10px;
}

.button:hover {
  color: #4EE1A0;
}

section.habilidades {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
}
section.habilidades h2, section.habilidades p {
  text-align: center;
}
section.habilidades article {
  margin-top: 35px;
}

div.line1 {
  background-color: #FFFFFF;
  height: 1px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 35px;
}

section.projects {
  margin: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.projects img {
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
}
section.projects p {
  display: inline-block;
  padding: 10px;
  padding-right: 20px;
  padding-left: 0px;
}
section.projects div.titlepro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.projects article div * {
  margin-right: 30px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  body div.img img {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
  }
  body section.hero {
    min-height: 40vh;
    max-width: 79%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 18px;
  }
  body section.hero * {
    text-align: start;
  }
  body section.hero a {
    margin-left: 12px;
  }
  body section.habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px;
    margin-left: 18px;
  }
  body section.habilidades * {
    text-align: start;
  }
  body section.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px;
    margin-left: 18px;
    gap: 24px;
  }
  body section.projects div.titlepro {
    grid-column: span 2;
  }
  body section.projects * {
    text-align: start;
  }
  img.deco {
    position: absolute;
    left: -200px;
  }
  img.deco1 {
    position: absolute;
    right: -200px;
    rotate: 180deg;
  }
  input:placeholder-shown {
    border-bottom-color: #d9d9d9;
  }
  input:valid {
    border-bottom-color: #00c853;
  }
  input:invalid:not(:placeholder-shown) {
    border-bottom-color: #ff1744;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  body div.line1 {
    width: 82%;
  }
  body div.img img {
    position: absolute;
    top: 0px;
    right: 118px;
    z-index: -1;
  }
  body section.hero {
    min-height: 85vh;
    max-width: 49%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 118px;
  }
  body section.hero * {
    padding: 0px;
    margin: 0px;
    text-align: start;
    margin-bottom: 40px;
  }
  body section.hero p {
    width: 70%;
  }
  body section.hero a {
    margin-left: 0px;
  }
  body section.habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px;
    margin-left: 118px;
  }
  body section.habilidades * {
    text-align: start;
  }
  body section.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 118px;
    margin-left: 18px;
    gap: 24px;
  }
  body section.projects div.titlepro {
    grid-column: span 2;
  }
  body section.projects * {
    text-align: start;
  }
  input:placeholder-shown {
    border-bottom-color: #d9d9d9;
  }
  input:valid {
    border-bottom-color: #00c853;
  }
  input:invalid:not(:placeholder-shown) {
    border-bottom-color: #ff1744;
  }
  input:focus, textarea {
    outline: none;
  }
}
@media (max-width: 1920px) and (min-width: 1441px) {
  body div.line1 {
    width: 86%;
  }
  body div.img img {
    position: absolute;
    top: 0px;
    right: 118px;
    z-index: -1;
  }
  body section.hero {
    min-height: 85vh;
    max-width: 49%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 118px;
  }
  body section.hero * {
    padding: 0px;
    margin: 0px;
    text-align: start;
    margin-bottom: 100px;
  }
  body section.hero p {
    width: 70%;
  }
  body section.hero a {
    margin-left: 0px;
  }
  body section.habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px;
    margin-left: 118px;
  }
  body section.habilidades * {
    text-align: start;
  }
  body section.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 118px;
    margin-left: 18px;
    gap: 24px;
  }
  body section.projects div.titlepro {
    grid-column: span 2;
  }
  body section.projects * {
    text-align: start;
  }
  input:placeholder-shown {
    border-bottom-color: #d9d9d9;
  }
  input:valid {
    border-bottom-color: #00c853;
  }
  input:invalid:not(:placeholder-shown) {
    border-bottom-color: #ff1744;
  }
  input:focus, textarea {
    outline: none;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  article {
    position: relative;
  }
  .projects article img {
    width: 100%;
    display: block;
  }
  .projects article .overlay {
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background-color: rgba(21, 21, 21, 0.6117647059);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .projects article:hover .overlay {
    opacity: 1;
  }
}
@media (max-width: 1920px) and (min-width: 1441px) {
  article {
    position: relative;
  }
  .projects article img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
  }
  .projects article .overlay {
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background-color: rgba(21, 21, 21, 0.6117647059);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .projects article:hover .overlay {
    opacity: 1;
  }
}
html * {
  font-family: "Space Grotesk", sans-serif;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
