footer{
    margin-top: 60px;
    padding: 16px;
    background-color: $color-blacksoft;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1,p{
        text-align: center;
    }
    form{
        margin-top: 30px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        input, textarea{
            background-color: $color-blacksoft;
            border: none;
            border-bottom: 2px solid $color-grey;
            color: $color-grey;
            padding:  20px;
        }
        a{
            margin-top: 30px;
            align-self: flex-end;
        }

    }
    div.line1{
        background-color: $color-white;
        height: 1px;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
    }

}
@include breakpoint(tablet){
    section.contact{
        width: 60%;
    }
}
@include breakpoint(desktop){
    footer{
        section.contact{
        width: 80%;
        display: grid;
        gap: 170px;
        grid-template-columns: 1fr 1fr;
        div{
            *{
                margin-bottom: 50px;
                text-align: start;
            }
            padding: 30px 0px;
        }
    }
    div.line1{
        
        width: 82%;
    }
    }
    
}
@include breakpoint(largedesktop){
    footer{
        section.contact{
        width: 80%;
        display: grid;
        gap: 170px;
        grid-template-columns: 1fr 1fr;
        div{
            *{
                margin-bottom: 50px;
                text-align: start;
            }
            padding: 30px 0px;
        }
    }
    div.line1{
        
        width: 82%;
    }
    }
    
}