section.foot{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul{
        list-style: none;
        display: flex;
        li{
            padding: 15px;
        }
    }

}
@include breakpoint(tablet){
    section.foot{
        width: 100%;
        padding: 15px 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        ul{
            list-style: none;
            display: flex;
            li{
                padding: 15px;
            }
        }
    
    }

}
@include breakpoint(desktop){
    section.foot{
        width: 100%;
        padding: 15px 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        ul{
            list-style: none;
            display: flex;
            li{
                padding: 15px;
            }
        }
    
    }

}
@include breakpoint(largedesktop){
    section.foot{
        width: 100%;
        padding: 15px 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        ul{
            list-style: none;
            display: flex;
            li{
                padding: 15px;
            }
        }
    
    }

}